n8n-workflow-example.json
{
  "name": "Portfolio Blog Posts Workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "portfolio",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-get-posts",
      "name": "Webhook - Get Posts",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "get-posts"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.query.action }}",
              "operation": "equal",
              "value2": "getPosts"
            }
          ]
        }
      },
      "id": "if-action-getposts",
      "name": "IF Action = getPosts",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "url": "=YOUR_BLOG_API_URL",
        "options": {}
      },
      "id": "http-get-posts",
      "name": "HTTP Request - Get Posts",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [650, 200]
    },
    {
      "parameters": {
        "jsCode": "// Transform blog posts data\nconst items = $input.all();\nconst posts = items.map(item => ({\n  id: item.json.id || item.json.guid,\n  title: item.json.title,\n  content: item.json.content || item.json.description,\n  excerpt: item.json.excerpt || (item.json.description ? item.json.description.substring(0, 150) : ''),\n  image: item.json.image || item.json.thumbnail,\n  url: item.json.url || item.json.link,\n  publishedAt: item.json.publishedAt || item.json.pubDate,\n  readTime: item.json.readTime || Math.ceil((item.json.content || '').length / 1000),\n  tags: item.json.tags || item.json.categories || []\n}));\n\nreturn {\n  posts: posts\n};"
      },
      "id": "transform-posts",
      "name": "Transform Posts",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [850, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"posts\": $json.posts } }}"
      },
      "id": "respond-webhook",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1050, 200]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "portfolio",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-contact",
      "name": "Webhook - Contact Form",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 500],
      "webhookId": "contact-form"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.query.action }}",
              "operation": "equal",
              "value2": "contact"
            }
          ]
        }
      },
      "id": "if-action-contact",
      "name": "IF Action = contact",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [450, 500]
    },
    {
      "parameters": {
        "resource": "email",
        "operation": "sendEmail",
        "fromEmail": "noreply@yourdomain.com",
        "toEmail": "your.email@example.com",
        "subject": "=New Contact Form: {{ $json.body.subject }}",
        "emailType": "html",
        "message": "=<p><strong>Name:</strong> {{ $json.body.name }}</p><p><strong>Email:</strong> {{ $json.body.email }}</p><p><strong>Subject:</strong> {{ $json.body.subject }}</p><p><strong>Message:</strong></p><p>{{ $json.body.message }}</p>"
      },
      "id": "send-email",
      "name": "Send Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [650, 400]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": true, \"message\": \"Contact form submitted successfully\" } }}"
      },
      "id": "respond-contact",
      "name": "Respond Contact",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [850, 400]
    }
  ],
  "connections": {
    "Webhook - Get Posts": {
      "main": [
        [
          {
            "node": "IF Action = getPosts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Action = getPosts": {
      "main": [
        [
          {
            "node": "HTTP Request - Get Posts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request - Get Posts": {
      "main": [
        [
          {
            "node": "Transform Posts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transform Posts": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook - Contact Form": {
      "main": [
        [
          {
            "node": "IF Action = contact",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Action = contact": {
      "main": [
        [
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email": {
      "main": [
        [
          {
            "node": "Respond Contact",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2024-01-01T00:00:00.000Z",
  "versionId": "1"
}

